@import "tailwindcss";

@theme {
  --color-primary: #4F45E4;
  --color-primaryBg: #F7F9FB;
  --color-borderPrimary: #E5E5E5;
  --text-xxs: 10px;
}

:root {
  --background: #F7F9FB;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom scrollbar styles for WebKit browsers (Chrome, Safari, etc.) */
.scroll-container::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #ECEDEE; /* Track background color */
  border-radius: 50px; /* Full-rounded borders */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: white; /* Scrollbar background color */
  border-radius: 50px; /* Full-rounded borders */
  border: 3px solid #ECEDEE; /* Creates padding between the scrollbar and the track */
}

/* Force scrollbar always visible in Firefox */
.scroll-container {
  scrollbar-width: thin; /* Ensure thin scrollbar in Firefox */
  scrollbar-color: white #ECEDEE; /* Thumb color and track color in Firefox */
}
